<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'shared/avatar', object: current_user %>
      <section>
        <p class="font-weight-bold"><%= current_user.name %></p>
        <p><%= pluralize(current_user.imageposts.count, "post") %></p>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <section>
        <%= render 'shared/imagepost_form' %>
      </section>
      <section>
        <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
