<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>
          <% if logged_in? %>
            <%= image_tag current_user.avatar.url, size: '139x139' unless current_user.avatar.url.blank? %>
          <% else %>
            <%= image_tag("no-image-139x145.jpg") %>
          <% end %>
      <div class="form-group">
        <%= f.file_field :avatar %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group text-center">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
