<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, size: '139x139' %>
          <% else %>
            <%= image_tag("no-image-139x145.jpg") %>
          <% end %>
      <p class="font-weight-bold"><%= @user.name %></p>
      <p><%= pluralize(@user.imageposts.count, "post") %></p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.imageposts.any? %>
      <ol class="imageposts">
        <%= render @imageposts %>
      </ol>
    <% end %>
  </div>
</div>
