<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
      <h2><%= @user.name %></h2>
      <p><%= link_to "view my profile", @user %></p>
      <span><b>posts:</b> <%= @user.imageposts.count %></span>
      <%= render 'shared/stats' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>