      <header class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <%= link_to "Instravel", root_path, id: "logo", class: "navbar-brand text-dark" %>
        <nav>
          <ul class="nav  justify-content-end">
              <%= render 'layouts/search' %>
            <% if logged_in? %>
              <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link" %></li>
                <li class="nav-item">
                  <%= link_to "Profile", current_user, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log in", login_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>